<%= form_tag root_path, :method => 'POST' do %>
    <div class="form-group">
        <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50, class: "form-control" %>
        <%= submit_tag 'Look Up Stock Quote', class: "btn btn-default" %>
    </div>
<% end %>

<% if @stock %>
    <%= @stock.company_name %>
<% else %>
    <%= @nothing %>
<% end %>

<% if @error %>
    <%= @error %>
<% end %>
